/*
MAIN
*/


/*--------------------------------------------------*/
/*COMPETENCES*/
/*--------------------------------------------------*/


main #competences h1{
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
}

.articles{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

article{
    flex-basis: calc(100%/4);
    transition: all .2s ease-in-out;
    margin: 2rem;
}

article:hover{
    transform: scale(1.2);
}

article figure{
    display: flex;
    flex-flow: column;
    padding: 2rem;
    margin: 0 auto;
    gap: 1rem;
    max-width: 200px;
    max-height: 200px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: -2px 5px 20px var(--primary-color-50-shadow);
}

article figure img{
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

article figcaption{
    color: var(--main-black-color);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width:1024px){
    .articles{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width:769px){
    .articles{
        grid-template-columns: repeat(1,1fr);
    }
}